body{
    background-color: black;
}
h1{
    color:white;
    text-transform: uppercase;
    background-color: black;
}
.motivation-img{
    border: 5px solid white;
    width: 80%;
}
.poster{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    text-align: center;
    font-family:"Libre Baskerville", serif;
}